{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block user_menu %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
            <i class="hidden-xs fa fa-user"></i>
            {% if app.user|default %}
                {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
            {% else %}
                {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
            <li><a href="{{ path('app.admin_logout') }}" >{{ 'app.admin.logout' | trans }}</a></li>
        </ul>
    </div>
{% endblock user_menu %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}



